/****** Object:  Table [dbo].[branch]    Script Date: 16/12/2025 20:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branch](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](500) NULL,
	[labor_rate] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[car_name] [nvarchar](100) NULL,
	[car_model] [nvarchar](100) NULL,
	[vehicle_type_id] [bigint] NULL,
	[color] [nvarchar](50) NULL,
	[license_plate] [nvarchar](20) NULL,
	[vehicle_engine_number] [nvarchar](100) NULL,
	[vin_number] [nvarchar](100) NULL,
	[year_of_manufacture] [int] NULL,
	[branch_id] [bigint] NULL,
	[created_by] [bigint] NULL,
	[created_date] [datetime] NULL,
	[last_modified_by] [bigint] NULL,
	[last_modified_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[component]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[component](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [nvarchar](50) NULL,
	[unit_price] [decimal](18, 2) NULL,
	[quantity_stock] [int] NULL,
	[type_component_id] [bigint] NULL,
	[branch_id] [bigint] NULL,
	[image_url] [nvarchar](255) NULL,
	[status_code] [nvarchar](50) NULL,
	[purchase_price] [decimal](18, 2) NULL,
	[minimum_quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[component_package]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[component_package](
	[component_id] [bigint] NOT NULL,
	[service_package_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[component_id] ASC,
	[service_package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_guest]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_guest](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NULL,
	[car_name] [nvarchar](100) NULL,
	[car_model] [nvarchar](100) NULL,
	[license_plate] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[branch_id] [bigint] NULL,
	[linked_user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[maintenance_ticket_id] [bigint] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[parent_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history_log]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[action] [nvarchar](100) NULL,
	[old_data] [nvarchar](max) NULL,
	[new_data] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[maintenance_ticket_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance_ticket]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance_ticket](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[schedule_service_id] [bigint] NULL,
	[car_id] [bigint] NULL,
	[consulter_id] [bigint] NULL,
	[technician_id] [bigint] NULL,
	[status_code] [nvarchar](50) NULL,
	[branch_id] [bigint] NULL,
	[description] [nvarchar](255) NULL,
	[vehicle_checkin_id] [bigint] NULL,
	[code] [nvarchar](50) NULL,
	[total_estimated_cost] [decimal](18, 2) NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[priority_level] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[service_category_id] [bigint] NULL,
	[snapshot_car_name] [nvarchar](255) NULL,
	[snapshot_car_model] [nvarchar](255) NULL,
	[snapshot_vehicle_type] [nvarchar](100) NULL,
	[snapshot_vehicle_type_id] [bigint] NULL,
	[snapshot_license_plate] [nvarchar](50) NULL,
	[snapshot_vin_number] [nvarchar](50) NULL,
	[snapshot_engine_number] [nvarchar](50) NULL,
	[snapshot_year_of_manufacture] [int] NULL,
	[snapshot_color] [nvarchar](50) NULL,
	[snapshot_mileage] [int] NULL,
	[snapshot_customer_name] [nvarchar](255) NULL,
	[snapshot_customer_phone] [nvarchar](50) NULL,
	[snapshot_customer_email] [nvarchar](255) NULL,
	[snapshot_customer_address] [nvarchar](255) NULL,
	[snapshot_branch_name] [nvarchar](255) NULL,
	[snapshot_consulter_name] [nvarchar](255) NULL,
	[service_package_id] [bigint] NULL,
	[service_package_price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance_ticket_technician]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance_ticket_technician](
	[maintenance_ticket_id] [bigint] NOT NULL,
	[technician_id] [bigint] NOT NULL,
	[assigned_date] [datetime] NULL,
	[role_in_ticket] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maintenance_ticket_id] ASC,
	[technician_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedule_service]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedule_service](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[car_id] [bigint] NULL,
	[scheduled_date] [datetime] NOT NULL,
	[status_code] [nvarchar](50) NULL,
	[branch_id] [bigint] NULL,
	[service_category_id] [bigint] NULL,
	[guest_id] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [bigint] NULL,
	[updated_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedule_service_note]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedule_service_note](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[schedule_service_id] [bigint] NOT NULL,
	[consultant_id] [bigint] NOT NULL,
	[note] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_category]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](500) NULL,
	[status_code] [nvarchar](50) NULL,
	[standard_labor_time] [decimal](5, 2) NULL,
 CONSTRAINT [PK_service_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_package]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_package](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[price] [decimal](18, 2) NULL,
	[status_code] [nvarchar](50) NULL,
	[code] [nvarchar](50) NULL,
	[branch_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_package_category]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_package_category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[service_package_id] [bigint] NOT NULL,
	[service_category_id] [bigint] NOT NULL,
	[standard_labor_time] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_task]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_task](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[maintenance_ticket_id] [bigint] NULL,
	[task_name] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[status_code] [nvarchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[service_category_id] [bigint] NULL,
	[standard_labor_time] [decimal](5, 2) NULL,
	[actual_labor_time] [decimal](5, 2) NULL,
	[labor_cost] [decimal](18, 2) NULL,
	[technician_id] [bigint] NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[display_order] [int] NULL,
	[completion_note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_task_technician]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_task_technician](
	[service_task_id] [bigint] NOT NULL,
	[technician_id] [bigint] NOT NULL,
	[assigned_date] [datetime] NULL,
	[role_in_task] [nvarchar](100) NULL,
 CONSTRAINT [PK_service_task_technician] PRIMARY KEY CLUSTERED 
(
	[service_task_id] ASC,
	[technician_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_lookup]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_lookup](
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_in]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_in](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[stock_in_request_id] [bigint] NOT NULL,
	[status_code] [nvarchar](50) NOT NULL,
	[approved_by] [bigint] NULL,
	[approved_at] [datetime] NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime] NOT NULL,
	[last_modified_by] [bigint] NULL,
	[last_modified_date] [datetime] NULL,
 CONSTRAINT [PK_stock_in] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_in_detail]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_in_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[stock_in_id] [bigint] NOT NULL,
	[component_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[quantity_after_check] [int] NULL,
	[import_price_per_unit] [decimal](18, 2) NULL,
	[export_price_per_unit] [decimal](18, 2) NULL,
	[vat] [decimal](5, 2) NULL,
	[min_quantity] [int] NULL,
	[component_code] [nvarchar](50) NULL,
	[component_name] [nvarchar](200) NULL,
	[type_component] [nvarchar](200) NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime] NOT NULL,
	[last_modified_by] [bigint] NULL,
	[last_modified_date] [datetime] NULL,
 CONSTRAINT [PK_stock_in_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_in_request]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_in_request](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[branch_id] [bigint] NOT NULL,
	[description] [nvarchar](500) NULL,
	[note] [nvarchar](500) NULL,
	[status_code] [nvarchar](50) NOT NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime] NOT NULL,
	[last_modified_by] [bigint] NULL,
	[last_modified_date] [datetime] NULL,
 CONSTRAINT [PK_stock_in_request] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_in_request_detail]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_in_request_detail](
	[stock_in_request_id] [bigint] NOT NULL,
	[component_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_stock_in_request_detail] PRIMARY KEY CLUSTERED 
(
	[stock_in_request_id] ASC,
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket_component]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_component](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[maintenance_ticket_id] [bigint] NULL,
	[component_id] [bigint] NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NULL,
	[actual_quantity] [decimal](18, 2) NULL,
	[branch_id] [bigint] NULL,
	[service_package_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[total_receipt]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[total_receipt](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[car_id] [bigint] NULL,
	[maintenance_ticket_id] [bigint] NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[currency_code] [nvarchar](10) NULL,
	[created_at] [datetime] NULL,
	[accountant_id] [bigint] NULL,
	[branch_id] [bigint] NULL,
	[status_code] [nvarchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[subtotal] [decimal](18, 2) NULL,
	[vat_percent] [decimal](5, 2) NULL,
	[vat_amount] [decimal](18, 2) NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[surcharge_amount] [decimal](18, 2) NULL,
	[final_amount] [decimal](18, 2) NULL,
	[service_package_id] [bigint] NULL,
	[service_package_price] [decimal](18, 2) NULL,
	[service_package_name] [nvarchar](255) NULL,
	[package_discount_amount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_component]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_component](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[branch_id] [bigint] NULL,
	[status_code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](100) NULL,
	[last_name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[gender] [nvarchar](20) NULL,
	[image] [nvarchar](255) NULL,
	[tax_code] [nvarchar](50) NULL,
	[status_code] [nvarchar](50) NULL,
	[is_delete] [bit] NULL,
	[reset_key] [nvarchar](100) NULL,
	[reset_date] [datetime] NULL,
	[role_id] [bigint] NULL,
	[branch_id] [bigint] NULL,
	[created_by] [bigint] NULL,
	[created_date] [datetime] NULL,
	[last_modified_by] [bigint] NULL,
	[last_modified_date] [datetime] NULL,
	[dob] [date] NULL,
	[citizen_id] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_checkin]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_checkin](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[car_id] [bigint] NULL,
	[mileage] [int] NULL,
	[notes] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[status_code] [nvarchar](50) NULL,
	[branch_id] [bigint] NULL,
	[code] [nvarchar](50) NULL,
	[snapshot_car_name] [nvarchar](255) NULL,
	[snapshot_car_model] [nvarchar](255) NULL,
	[snapshot_vehicle_type] [nvarchar](100) NULL,
	[snapshot_vehicle_type_id] [bigint] NULL,
	[snapshot_license_plate] [nvarchar](50) NULL,
	[snapshot_vin_number] [nvarchar](50) NULL,
	[snapshot_engine_number] [nvarchar](50) NULL,
	[snapshot_year_of_manufacture] [int] NULL,
	[snapshot_color] [nvarchar](50) NULL,
	[snapshot_mileage] [int] NULL,
	[snapshot_customer_name] [nvarchar](255) NULL,
	[snapshot_customer_phone] [nvarchar](50) NULL,
	[snapshot_customer_email] [nvarchar](255) NULL,
	[snapshot_customer_address] [nvarchar](255) NULL,
	[snapshot_branch_name] [nvarchar](255) NULL,
	[snapshot_consulter_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_checkin_image]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_checkin_image](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vehicle_checkin_id] [bigint] NULL,
	[image_url] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[description] [nvarchar](500) NULL,
	[category] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_type]    Script Date: 16/12/2025 20:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_type](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[branch] ON 

INSERT [dbo].[branch] ([id], [name], [phone], [address], [labor_rate]) VALUES (1, N'APMMS 1', N'0911111111', NULL, CAST(400000.00 AS Decimal(18, 2)))
INSERT [dbo].[branch] ([id], [name], [phone], [address], [labor_rate]) VALUES (2, N'Chi nhánh Test', N'0123456789', NULL, CAST(400000.00 AS Decimal(18, 2)))
INSERT [dbo].[branch] ([id], [name], [phone], [address], [labor_rate]) VALUES (3, N'PKUDĐ', N'0912343212', N'ddd', CAST(300000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[branch] OFF
GO
SET IDENTITY_INSERT [dbo].[car] ON 

INSERT [dbo].[car] ([id], [user_id], [car_name], [car_model], [vehicle_type_id], [color], [license_plate], [vehicle_engine_number], [vin_number], [year_of_manufacture], [branch_id], [created_by], [created_date], [last_modified_by], [last_modified_date]) VALUES (1, 13, N'Toyota Camry', N'2020', 1, N'Đen', N'30A-12345', N'123456', N'HUe33333', 2020, NULL, NULL, CAST(N'2025-10-11T00:03:49.223' AS DateTime), NULL, CAST(N'2025-11-18T16:09:45.473' AS DateTime))
INSERT [dbo].[car] ([id], [user_id], [car_name], [car_model], [vehicle_type_id], [color], [license_plate], [vehicle_engine_number], [vin_number], [year_of_manufacture], [branch_id], [created_by], [created_date], [last_modified_by], [last_modified_date]) VALUES (5, 13, N'Toyota Camry 2.5Q', N'Camry', 3, N'Xanh lá', N'37B-12346', N'1TR123457', N'KMHCT41A1BU123459', 2022, NULL, NULL, CAST(N'2025-10-19T09:37:27.350' AS DateTime), NULL, CAST(N'2025-11-13T17:36:18.547' AS DateTime))
INSERT [dbo].[car] ([id], [user_id], [car_name], [car_model], [vehicle_type_id], [color], [license_plate], [vehicle_engine_number], [vin_number], [year_of_manufacture], [branch_id], [created_by], [created_date], [last_modified_by], [last_modified_date]) VALUES (6, 38, N'Chưa xác định', NULL, NULL, NULL, N'30A-12340', NULL, NULL, NULL, NULL, NULL, CAST(N'2025-11-05T10:50:08.793' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[car] OFF
GO
SET IDENTITY_INSERT [dbo].[component] ON 

INSERT [dbo].[component] ([id], [name], [code], [unit_price], [quantity_stock], [type_component_id], [branch_id], [image_url], [status_code], [purchase_price], [minimum_quantity]) VALUES (1, N'Dầu nhớt 5W30', N'OIL-5W30', CAST(350000.00 AS Decimal(18, 2)), 27, NULL, 1, N'https://res.cloudinary.com/dzapzh69h/image/upload/v1763767506/temp/temp/674c4807-00a1-4cd2-961a-843a30eb1def.jpg', N'ACTIVE', CAST(300000.00 AS Decimal(18, 2)), 50)
INSERT [dbo].[component] ([id], [name], [code], [unit_price], [quantity_stock], [type_component_id], [branch_id], [image_url], [status_code], [purchase_price], [minimum_quantity]) VALUES (2, N'Lọc nhớtt Toyota', N'FILTER-OIL-001', CAST(300000.00 AS Decimal(18, 2)), 363, NULL, 1, N'https://res.cloudinary.com/dzapzh69h/image/upload/v1765807557/temp/temp/ca6ca152-77d5-40b2-a022-456f2a564c69.png', N'ACTIVE', CAST(200000.00 AS Decimal(18, 2)), 50)
INSERT [dbo].[component] ([id], [name], [code], [unit_price], [quantity_stock], [type_component_id], [branch_id], [image_url], [status_code], [purchase_price], [minimum_quantity]) VALUES (3, N'Lọc gió động cơ', N'AIR-FILTER-01', CAST(180000.00 AS Decimal(18, 2)), 28, NULL, 1, NULL, NULL, CAST(140000.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[component] OFF
GO
INSERT [dbo].[component_package] ([component_id], [service_package_id], [quantity]) VALUES (1, 1, 1)
INSERT [dbo].[component_package] ([component_id], [service_package_id], [quantity]) VALUES (1, 2, 1)
INSERT [dbo].[component_package] ([component_id], [service_package_id], [quantity]) VALUES (2, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[customer_guest] ON 

INSERT [dbo].[customer_guest] ([id], [name], [phone], [email], [car_name], [car_model], [license_plate], [created_at], [branch_id], [linked_user_id]) VALUES (1, N'Hoàng Anh', N'0955354672', N'hoanganh2@gmail.com', N'Toyota', N'Toyota', N'30S-25326', CAST(N'2025-11-08T15:29:58.627' AS DateTime), 2, NULL)
INSERT [dbo].[customer_guest] ([id], [name], [phone], [email], [car_name], [car_model], [license_plate], [created_at], [branch_id], [linked_user_id]) VALUES (2, N'Lê Tùng Dương', N'0987364212', NULL, N'Toyota anc', N'2021', N'73T-98372', CAST(N'2025-11-08T16:07:28.160' AS DateTime), 2, NULL)
INSERT [dbo].[customer_guest] ([id], [name], [phone], [email], [car_name], [car_model], [license_plate], [created_at], [branch_id], [linked_user_id]) VALUES (3, N'Nguyễn Tuấn Thanh', N'0947345333', NULL, N'Honda', NULL, N'73T-98373', CAST(N'2025-11-08T16:41:29.353' AS DateTime), 2, NULL)
SET IDENTITY_INSERT [dbo].[customer_guest] OFF
GO
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([id], [user_id], [maintenance_ticket_id], [rating], [comment], [created_at], [parent_id]) VALUES (1, 18, NULL, 5, N'helo', CAST(N'2025-11-20T19:36:53.613' AS DateTime), NULL)
INSERT [dbo].[feedback] ([id], [user_id], [maintenance_ticket_id], [rating], [comment], [created_at], [parent_id]) VALUES (2, 18, NULL, NULL, N'sao', CAST(N'2025-11-20T19:37:13.797' AS DateTime), 1)
INSERT [dbo].[feedback] ([id], [user_id], [maintenance_ticket_id], [rating], [comment], [created_at], [parent_id]) VALUES (3, 18, NULL, 5, N'alo', CAST(N'2025-12-08T10:55:54.683' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[history_log] ON 

INSERT [dbo].[history_log] ([id], [user_id], [action], [old_data], [new_data], [created_at], [maintenance_ticket_id]) VALUES (1, 18, N'ASSIGN_TECHNICIAN', N'Status: PENDING, Technicians: None', N'Status: IN_PROGRESS, Technicians: Technician ID: 21, Technician ID: 22, Technician ID: 23, Technician ID: 20, Primary: 20', CAST(N'2025-11-01T11:49:33.323' AS DateTime), NULL)
INSERT [dbo].[history_log] ([id], [user_id], [action], [old_data], [new_data], [created_at], [maintenance_ticket_id]) VALUES (2, 18, N'CANCEL_MAINTENANCE', N'Status: IN_PROGRESS', N'Status: CANCELLED, CancelledAt: 02/11/2025 00:59:18', CAST(N'2025-11-02T00:59:18.797' AS DateTime), NULL)
INSERT [dbo].[history_log] ([id], [user_id], [action], [old_data], [new_data], [created_at], [maintenance_ticket_id]) VALUES (3, 24, N'CANCEL_MAINTENANCE', N'Status: PENDING', N'Status: CANCELLED, CancelledAt: 03/11/2025 16:10:06', CAST(N'2025-11-03T16:10:06.027' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[history_log] OFF
GO
SET IDENTITY_INSERT [dbo].[maintenance_ticket] ON 

SET IDENTITY_INSERT [dbo].[maintenance_ticket] OFF
GO
INSERT [dbo].[maintenance_ticket_technician] ([maintenance_ticket_id], [technician_id], [assigned_date], [role_in_ticket]) VALUES (7, 20, CAST(N'2025-10-29T16:50:30.823' AS DateTime), N'PRIMARY')
INSERT [dbo].[maintenance_ticket_technician] ([maintenance_ticket_id], [technician_id], [assigned_date], [role_in_ticket]) VALUES (7, 22, CAST(N'2025-10-29T16:50:30.913' AS DateTime), N'ASSISTANT')
INSERT [dbo].[maintenance_ticket_technician] ([maintenance_ticket_id], [technician_id], [assigned_date], [role_in_ticket]) VALUES (8, 23, CAST(N'2025-10-30T14:01:24.023' AS DateTime), N'PRIMARY')
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name]) VALUES (1, N'Admin')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'Branch Manager')
INSERT [dbo].[role] ([id], [name]) VALUES (3, N'Accountant')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[schedule_service] ON 

INSERT [dbo].[schedule_service] ([id], [user_id], [car_id], [scheduled_date], [status_code], [branch_id], [service_category_id], [guest_id], [created_at], [updated_at], [created_by], [updated_by]) VALUES (1, 38, 6, CAST(N'2025-11-15T16:49:00.000' AS DateTime), N'CANCELLED', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[schedule_service] ([id], [user_id], [car_id], [scheduled_date], [status_code], [branch_id], [service_category_id], [guest_id], [created_at], [updated_at], [created_by], [updated_by]) VALUES (2, 11, 10006, CAST(N'2025-11-22T15:44:00.000' AS DateTime), N'COMPLETED', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[schedule_service] ([id], [user_id], [car_id], [scheduled_date], [status_code], [branch_id], [service_category_id], [guest_id], [created_at], [updated_at], [created_by], [updated_by]) VALUES (3, 10038, 10007, CAST(N'2025-11-19T15:46:00.000' AS DateTime), N'CONFIRMED', 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[schedule_service] OFF
GO
SET IDENTITY_INSERT [dbo].[schedule_service_note] ON 

INSERT [dbo].[schedule_service_note] ([id], [schedule_service_id], [consultant_id], [note], [created_at]) VALUES (1, 2, 18, N'[ASSIGNMENT]Consulter đã nhận đơn', CAST(N'2025-11-07T16:58:13.287' AS DateTime))
INSERT [dbo].[schedule_service_note] ([id], [schedule_service_id], [consultant_id], [note], [created_at]) VALUES (2, 2, 18, N'-Gọi khách không nghe máy', CAST(N'2025-11-07T17:23:46.507' AS DateTime))
INSERT [dbo].[schedule_service_note] ([id], [schedule_service_id], [consultant_id], [note], [created_at]) VALUES (3, 2, 18, N'Khách hủy', CAST(N'2025-11-07T17:23:58.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[schedule_service_note] OFF
GO
SET IDENTITY_INSERT [dbo].[service_category] ON 

INSERT [dbo].[service_category] ([id], [name], [description], [status_code], [standard_labor_time]) VALUES (1, N'Bảo dưỡng ', N'Dịch vụ bảo dưỡng tổng quát định kỳ', N'ACTIVE', NULL)
INSERT [dbo].[service_category] ([id], [name], [description], [status_code], [standard_labor_time]) VALUES (2, N'Sửa chữa ', N'Sửa các lỗi liên quan đến động cơ', N'ACTIVE', NULL)
INSERT [dbo].[service_category] ([id], [name], [description], [status_code], [standard_labor_time]) VALUES (3, N'Kiểm tra tổng quát', N'Kiểm tra xe toàn diện', N'ACTIVE', NULL)
SET IDENTITY_INSERT [dbo].[service_category] OFF
GO
SET IDENTITY_INSERT [dbo].[service_package] ON 

INSERT [dbo].[service_package] ([id], [name], [description], [price], [status_code], [code], [branch_id]) VALUES (1, N'Thay nhớt 5W30', N'Gói thay nhớt xe động cơ xăng', CAST(550000.00 AS Decimal(18, 2)), N'ACTIVE', N'PK-OIL-5W30', 1)
INSERT [dbo].[service_package] ([id], [name], [description], [price], [status_code], [code], [branch_id]) VALUES (2, N'Bảo dưỡng cấp nhỏ', N'Thay nhớt + lọc nhớt + vệ sinh lọc gió', CAST(600000.00 AS Decimal(18, 2)), N'ACTIVE', N'PK-MAINT-SM', 1)
INSERT [dbo].[service_package] ([id], [name], [description], [price], [status_code], [code], [branch_id]) VALUES (3, N'Thay nhớt 5W30', N'Gói thay nhớt xe động cơ có xăng', CAST(560000.00 AS Decimal(18, 2)), N'ACTIVE', N'PK-OIL-5W30', 2)
SET IDENTITY_INSERT [dbo].[service_package] OFF
GO
SET IDENTITY_INSERT [dbo].[service_package_category] ON 

INSERT [dbo].[service_package_category] ([id], [service_package_id], [service_category_id], [standard_labor_time]) VALUES (1, 1, 1, CAST(0.30 AS Decimal(5, 2)))
INSERT [dbo].[service_package_category] ([id], [service_package_id], [service_category_id], [standard_labor_time]) VALUES (2, 1, 2, CAST(0.20 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[service_package_category] OFF
GO
SET IDENTITY_INSERT [dbo].[service_task] ON 

INSERT [dbo].[service_task] ([id], [maintenance_ticket_id], [task_name], [description], [status_code], [note], [service_category_id], [standard_labor_time], [actual_labor_time], [labor_cost], [technician_id], [start_time], [end_time], [display_order], [completion_note]) VALUES (1, 11, N'LO', N'al', N'DONE', N'a', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[service_task] ([id], [maintenance_ticket_id], [task_name], [description], [status_code], [note], [service_category_id], [standard_labor_time], [actual_labor_time], [labor_cost], [technician_id], [start_time], [end_time], [display_order], [completion_note]) VALUES (2, 11, N'h', N'd', N'DONE', N'd', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[service_task] ([id], [maintenance_ticket_id], [task_name], [description], [status_code], [note], [service_category_id], [standard_labor_time], [actual_labor_time], [labor_cost], [technician_id], [start_time], [end_time], [display_order], [completion_note]) VALUES (3, 11, N'd', N'd', N'DONE', N'd', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[service_task] OFF
GO
INSERT [dbo].[service_task_technician] ([service_task_id], [technician_id], [assigned_date], [role_in_task]) VALUES (10023, 21, CAST(N'2025-11-19T00:14:04.493' AS DateTime), N'PRIMARY')
INSERT [dbo].[service_task_technician] ([service_task_id], [technician_id], [assigned_date], [role_in_task]) VALUES (10023, 22, CAST(N'2025-11-19T00:14:04.493' AS DateTime), N'ASSISTANT')
INSERT [dbo].[service_task_technician] ([service_task_id], [technician_id], [assigned_date], [role_in_task]) VALUES (10023, 37, CAST(N'2025-11-19T00:14:04.493' AS DateTime), N'ASSISTANT')
GO
INSERT [dbo].[status_lookup] ([code], [name], [description]) VALUES (N'ACTIVE', N'Đang hoạt động', N'Tài khoản đang được sử dụng')
INSERT [dbo].[status_lookup] ([code], [name], [description]) VALUES (N'APPROVED', N'Đã duyệt', N'Yêu cầu/Phiếu nhập kho đã được duyệt')
INSERT [dbo].[status_lookup] ([code], [name], [description]) VALUES (N'ASSIGNED', N'Đã gán', N'Phiếu bảo dưỡng đã được gán kỹ thuật viên')
GO
SET IDENTITY_INSERT [dbo].[stock_in] ON 

INSERT [dbo].[stock_in] ([id], [stock_in_request_id], [status_code], [approved_by], [approved_at], [created_by], [created_at], [last_modified_by], [last_modified_date]) VALUES (5, 9, N'APPROVED', 24, CAST(N'2025-12-15T22:14:35.667' AS DateTime), 37, CAST(N'2025-11-24T02:39:56.423' AS DateTime), 24, CAST(N'2025-12-15T22:14:35.667' AS DateTime))
INSERT [dbo].[stock_in] ([id], [stock_in_request_id], [status_code], [approved_by], [approved_at], [created_by], [created_at], [last_modified_by], [last_modified_date]) VALUES (6, 10, N'APPROVED', 24, CAST(N'2025-11-24T05:23:56.740' AS DateTime), 37, CAST(N'2025-11-24T04:26:48.253' AS DateTime), 24, CAST(N'2025-11-24T05:23:56.740' AS DateTime))
INSERT [dbo].[stock_in] ([id], [stock_in_request_id], [status_code], [approved_by], [approved_at], [created_by], [created_at], [last_modified_by], [last_modified_date]) VALUES (7, 11, N'CREATED', NULL, NULL, 37, CAST(N'2025-12-15T21:38:56.073' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[stock_in] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_in_detail] ON 

INSERT [dbo].[stock_in_detail] ([id], [stock_in_id], [component_id], [quantity], [quantity_after_check], [import_price_per_unit], [export_price_per_unit], [vat], [min_quantity], [component_code], [component_name], [type_component], [created_by], [created_at], [last_modified_by], [last_modified_date]) VALUES (1, 5, 11, 1, 1, CAST(100000.00 AS Decimal(18, 2)), CAST(120000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), NULL, N'ML2', N'Khoa', N'Nhớt động cơ', 37, CAST(N'2025-11-24T02:39:56.427' AS DateTime), 24, CAST(N'2025-12-15T22:14:35.477' AS DateTime))
INSERT [dbo].[stock_in_detail] ([id], [stock_in_id], [component_id], [quantity], [quantity_after_check], [import_price_per_unit], [export_price_per_unit], [vat], [min_quantity], [component_code], [component_name], [type_component], [created_by], [created_at], [last_modified_by], [last_modified_date]) VALUES (2, 5, 12, 1, 1, CAST(150000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), 30, N'OIL-5W302', N'Khoa12', N'Lọc gió', 37, CAST(N'2025-11-24T02:39:56.430' AS DateTime), 24, CAST(N'2025-12-15T22:14:35.477' AS DateTime))
INSERT [dbo].[stock_in_detail] ([id], [stock_in_id], [component_id], [quantity], [quantity_after_check], [import_price_per_unit], [export_price_per_unit], [vat], [min_quantity], [component_code], [component_name], [type_component], [created_by], [created_at], [last_modified_by], [last_modified_date]) VALUES (3, 6, 11, 30, 30, CAST(100000.00 AS Decimal(18, 2)), CAST(120000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), NULL, N'ML2', N'Khoa', N'Nhớt động cơ', 37, CAST(N'2025-11-24T04:26:48.257' AS DateTime), 24, CAST(N'2025-11-24T05:23:56.453' AS DateTime))
SET IDENTITY_INSERT [dbo].[stock_in_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_in_request] ON 

INSERT [dbo].[stock_in_request] ([id], [code], [branch_id], [description], [note], [status_code], [created_by], [created_at], [last_modified_by], [last_modified_date]) VALUES (8, N'PK-OIL-5W30ssss', 1, N'dbbb', N'', N'PENDING', 18, CAST(N'2025-11-23T05:34:14.537' AS DateTime), 37, CAST(N'2025-11-23T06:45:08.677' AS DateTime))
INSERT [dbo].[stock_in_request] ([id], [code], [branch_id], [description], [note], [status_code], [created_by], [created_at], [last_modified_by], [last_modified_date]) VALUES (9, N'ML2m', 1, N'', N'', N'APPROVED', 18, CAST(N'2025-11-23T06:21:58.743' AS DateTime), 24, CAST(N'2025-11-23T06:31:09.013' AS DateTime))
INSERT [dbo].[stock_in_request] ([id], [code], [branch_id], [description], [note], [status_code], [created_by], [created_at], [last_modified_by], [last_modified_date]) VALUES (10, N'YC2511240001', 1, N'dbbb', N'd', N'APPROVED', 37, CAST(N'2025-11-24T04:06:58.707' AS DateTime), 24, CAST(N'2025-11-24T04:14:19.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[stock_in_request] OFF
GO
INSERT [dbo].[stock_in_request_detail] ([stock_in_request_id], [component_id], [quantity]) VALUES (8, 4, 1)
INSERT [dbo].[stock_in_request_detail] ([stock_in_request_id], [component_id], [quantity]) VALUES (8, 11, 12)
INSERT [dbo].[stock_in_request_detail] ([stock_in_request_id], [component_id], [quantity]) VALUES (8, 12, 12)
GO
SET IDENTITY_INSERT [dbo].[ticket_component] ON 

INSERT [dbo].[ticket_component] ([id], [maintenance_ticket_id], [component_id], [quantity], [unit_price], [actual_quantity], [branch_id], [service_package_id]) VALUES (7, 14, 2, 1, CAST(120000.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[ticket_component] ([id], [maintenance_ticket_id], [component_id], [quantity], [unit_price], [actual_quantity], [branch_id], [service_package_id]) VALUES (8, 14, 2, 1, CAST(120000.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[ticket_component] ([id], [maintenance_ticket_id], [component_id], [quantity], [unit_price], [actual_quantity], [branch_id], [service_package_id]) VALUES (9, 16, 1, 1, CAST(350000.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[ticket_component] OFF
GO
SET IDENTITY_INSERT [dbo].[total_receipt] ON 

SET IDENTITY_INSERT [dbo].[total_receipt] OFF
GO
SET IDENTITY_INSERT [dbo].[type_component] ON 

INSERT [dbo].[type_component] ([id], [name], [description], [branch_id], [status_code]) VALUES (1, N'Nhớt động cơ', N'Các loại dầu nhớt động cơ', 1, N'ACTIVE')
INSERT [dbo].[type_component] ([id], [name], [description], [branch_id], [status_code]) VALUES (2, N'Lọc Nhớt', N'Các loại lọc nhớt', 1, N'ACTIVE')
INSERT [dbo].[type_component] ([id], [name], [description], [branch_id], [status_code]) VALUES (3, N'Lọc gió', N'Lọc gió động cơ', 1, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[type_component] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [code], [username], [password], [first_name], [last_name], [email], [phone], [gender], [image], [tax_code], [status_code], [is_delete], [reset_key], [reset_date], [role_id], [branch_id], [created_by], [created_date], [last_modified_by], [last_modified_date], [dob], [citizen_id], [address]) VALUES (8, NULL, N'caotenkhoa', N'123', NULL, NULL, N'caotienkhoa12@gmail.com', N'0987222321', NULL, NULL, NULL, NULL, 0, NULL, NULL, 7, NULL, NULL, CAST(N'2025-10-06T00:39:18.287' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[user] ([id], [code], [username], [password], [first_name], [last_name], [email], [phone], [gender], [image], [tax_code], [status_code], [is_delete], [reset_key], [reset_date], [role_id], [branch_id], [created_by], [created_date], [last_modified_by], [last_modified_date], [dob], [citizen_id], [address]) VALUES (11, NULL, N'Employee', N'123', NULL, NULL, N'khoa1@gmail.com', NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-10-09T03:08:34.583' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicle_checkin] ON 

SET IDENTITY_INSERT [dbo].[vehicle_checkin] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicle_checkin_image] ON 

INSERT [dbo].[vehicle_checkin_image] ([id], [vehicle_checkin_id], [image_url], [created_at], [description], [category]) VALUES (14, 7, N'https://res.cloudinary.com/dzapzh69h/image/upload/v1761124284/vehicle-checkins/vehicle-checkins/4f6bfa2c-9952-4456-b4c3-d1ca90ec65ec.jpg', CAST(N'2025-10-22T09:11:26.107' AS DateTime), NULL, NULL)
INSERT [dbo].[vehicle_checkin_image] ([id], [vehicle_checkin_id], [image_url], [created_at], [description], [category]) VALUES (16, 7, N'https://res.cloudinary.com/dzapzh69h/image/upload/v1761125010/vehicle-checkins/vehicle-checkins/e04c4e8d-699c-465f-99dd-1a1af60e77fe.jpg', CAST(N'2025-10-22T09:23:31.827' AS DateTime), NULL, NULL)
INSERT [dbo].[vehicle_checkin_image] ([id], [vehicle_checkin_id], [image_url], [created_at], [description], [category]) VALUES (18, 5, N'https://res.cloudinary.com/dzapzh69h/image/upload/v1761125121/vehicle-checkins/vehicle-checkins/3e1059df-edab-462c-a672-977ef86d883a.png', CAST(N'2025-10-22T09:25:23.473' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[vehicle_checkin_image] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicle_type] ON 

INSERT [dbo].[vehicle_type] ([id], [name], [description]) VALUES (1, N'Mini', N'Xe nhỏ gọn, 2–4 chỗ, tiết kiệm nhiên liệu.')
INSERT [dbo].[vehicle_type] ([id], [name], [description]) VALUES (2, N'Sedan', N'Xe 4 chỗ phổ thông, cốp sau.')
INSERT [dbo].[vehicle_type] ([id], [name], [description]) VALUES (3, N'SUV', N'Xe thể thao đa dụng, gầm cao, 5–7 chỗ.')
SET IDENTITY_INSERT [dbo].[vehicle_type] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__branch__72E12F1BE49CD06A]    Script Date: 16/12/2025 20:17:17 ******/
ALTER TABLE [dbo].[branch] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__car__F72CD56E212CBB61]    Script Date: 16/12/2025 20:17:17 ******/
ALTER TABLE [dbo].[car] ADD UNIQUE NONCLUSTERED 
(
	[license_plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_component_code_branch]    Script Date: 16/12/2025 20:17:17 ******/
ALTER TABLE [dbo].[component] ADD  CONSTRAINT [UQ_component_code_branch] UNIQUE NONCLUSTERED 
(
	[code] ASC,
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_guest_branch_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_customer_guest_branch_id] ON [dbo].[customer_guest]
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_guest_created_at]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_customer_guest_created_at] ON [dbo].[customer_guest]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customer_guest_license_plate]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_customer_guest_license_plate] ON [dbo].[customer_guest]
(
	[license_plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_guest_linked_user_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_customer_guest_linked_user_id] ON [dbo].[customer_guest]
(
	[linked_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customer_guest_phone]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_customer_guest_phone] ON [dbo].[customer_guest]
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_feedback_user_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_feedback_user_id] ON [dbo].[feedback]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_history_log_maintenance_ticket_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_history_log_maintenance_ticket_id] ON [dbo].[history_log]
(
	[maintenance_ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_maintenance_ticket_car_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_maintenance_ticket_car_id] ON [dbo].[maintenance_ticket]
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_schedule_service_created_at]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_schedule_service_created_at] ON [dbo].[schedule_service]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_schedule_service_guest_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_schedule_service_guest_id] ON [dbo].[schedule_service]
(
	[guest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_service_package_category]    Script Date: 16/12/2025 20:17:17 ******/
ALTER TABLE [dbo].[service_package_category] ADD  CONSTRAINT [UQ_service_package_category] UNIQUE NONCLUSTERED 
(
	[service_package_id] ASC,
	[service_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_package_category_category]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_service_package_category_category] ON [dbo].[service_package_category]
(
	[service_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_package_category_package]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_service_package_category_package] ON [dbo].[service_package_category]
(
	[service_package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_task_display_order]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_service_task_display_order] ON [dbo].[service_task]
(
	[display_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_task_technician_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_service_task_technician_id] ON [dbo].[service_task]
(
	[technician_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_task_ticket_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_service_task_ticket_id] ON [dbo].[service_task]
(
	[maintenance_ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_task_technician_service_task_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_service_task_technician_service_task_id] ON [dbo].[service_task_technician]
(
	[service_task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_task_technician_technician_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_service_task_technician_technician_id] ON [dbo].[service_task_technician]
(
	[technician_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_stock_in_request_id]    Script Date: 16/12/2025 20:17:17 ******/
ALTER TABLE [dbo].[stock_in] ADD  CONSTRAINT [UQ_stock_in_request_id] UNIQUE NONCLUSTERED 
(
	[stock_in_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_in_approved_by]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_approved_by] ON [dbo].[stock_in]
(
	[approved_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_in_created_at]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_created_at] ON [dbo].[stock_in]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_stock_in_status_code]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_status_code] ON [dbo].[stock_in]
(
	[status_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_in_stock_in_request_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_stock_in_request_id] ON [dbo].[stock_in]
(
	[stock_in_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_in_detail_component_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_detail_component_id] ON [dbo].[stock_in_detail]
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_in_detail_stock_in_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_detail_stock_in_id] ON [dbo].[stock_in_detail]
(
	[stock_in_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_stock_in_request_code]    Script Date: 16/12/2025 20:17:17 ******/
ALTER TABLE [dbo].[stock_in_request] ADD  CONSTRAINT [UQ_stock_in_request_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_in_request_branch_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_request_branch_id] ON [dbo].[stock_in_request]
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_in_request_created_at]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_request_created_at] ON [dbo].[stock_in_request]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_in_request_created_by]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_request_created_by] ON [dbo].[stock_in_request]
(
	[created_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_stock_in_request_status_code]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_request_status_code] ON [dbo].[stock_in_request]
(
	[status_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_in_request_detail_component_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_stock_in_request_detail_component_id] ON [dbo].[stock_in_request_detail]
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ticket_component_branch_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_ticket_component_branch_id] ON [dbo].[ticket_component]
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ticket_component_ticket_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_ticket_component_ticket_id] ON [dbo].[ticket_component]
(
	[maintenance_ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_total_receipt_branch_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_total_receipt_branch_id] ON [dbo].[total_receipt]
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_type_component_name_branch]    Script Date: 16/12/2025 20:17:17 ******/
ALTER TABLE [dbo].[type_component] ADD  CONSTRAINT [UQ_type_component_name_branch] UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__F3DBC572E50C2831]    Script Date: 16/12/2025 20:17:17 ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_branch_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_user_branch_id] ON [dbo].[user]
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_vehicle_checkin_car_id]    Script Date: 16/12/2025 20:17:17 ******/
CREATE NONCLUSTERED INDEX [IX_vehicle_checkin_car_id] ON [dbo].[vehicle_checkin]
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[car] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[component] ADD  DEFAULT ((0)) FOR [quantity_stock]
GO
ALTER TABLE [dbo].[component_package] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[customer_guest] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[history_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[maintenance_ticket] ADD  CONSTRAINT [DF_maintenance_ticket_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[maintenance_ticket_technician] ADD  DEFAULT (getdate()) FOR [assigned_date]
GO
ALTER TABLE [dbo].[schedule_service] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[schedule_service_note] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_task_technician] ADD  DEFAULT (getdate()) FOR [assigned_date]
GO
ALTER TABLE [dbo].[stock_in] ADD  DEFAULT ('PENDING') FOR [status_code]
GO
ALTER TABLE [dbo].[stock_in] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[stock_in_detail] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[stock_in_request] ADD  DEFAULT ('PENDING') FOR [status_code]
GO
ALTER TABLE [dbo].[stock_in_request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[total_receipt] ADD  DEFAULT ('VND') FOR [currency_code]
GO
ALTER TABLE [dbo].[total_receipt] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[vehicle_checkin] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicle_checkin_image] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[car]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[car]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[car]  WITH CHECK ADD FOREIGN KEY([vehicle_type_id])
REFERENCES [dbo].[vehicle_type] ([id])
GO
ALTER TABLE [dbo].[component]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[component]  WITH CHECK ADD FOREIGN KEY([type_component_id])
REFERENCES [dbo].[type_component] ([id])
GO
ALTER TABLE [dbo].[component]  WITH CHECK ADD  CONSTRAINT [FK_component_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[component] CHECK CONSTRAINT [FK_component_status]
GO
ALTER TABLE [dbo].[component_package]  WITH CHECK ADD FOREIGN KEY([component_id])
REFERENCES [dbo].[component] ([id])
GO
ALTER TABLE [dbo].[component_package]  WITH CHECK ADD FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_package] ([id])
GO
ALTER TABLE [dbo].[customer_guest]  WITH CHECK ADD  CONSTRAINT [FK_guest_branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[customer_guest] CHECK CONSTRAINT [FK_guest_branch]
GO
ALTER TABLE [dbo].[customer_guest]  WITH CHECK ADD  CONSTRAINT [FK_guest_linked_user] FOREIGN KEY([linked_user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[customer_guest] CHECK CONSTRAINT [FK_guest_linked_user]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([maintenance_ticket_id])
REFERENCES [dbo].[maintenance_ticket] ([id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[feedback] ([id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[history_log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[history_log]  WITH CHECK ADD  CONSTRAINT [FK_history_log_maintenance_ticket] FOREIGN KEY([maintenance_ticket_id])
REFERENCES [dbo].[maintenance_ticket] ([id])
GO
ALTER TABLE [dbo].[history_log] CHECK CONSTRAINT [FK_history_log_maintenance_ticket]
GO
ALTER TABLE [dbo].[maintenance_ticket]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[maintenance_ticket]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[car] ([id])
GO
ALTER TABLE [dbo].[maintenance_ticket]  WITH CHECK ADD FOREIGN KEY([consulter_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[maintenance_ticket]  WITH CHECK ADD FOREIGN KEY([schedule_service_id])
REFERENCES [dbo].[schedule_service] ([id])
GO
ALTER TABLE [dbo].[maintenance_ticket]  WITH CHECK ADD FOREIGN KEY([technician_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[maintenance_ticket]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_ticket_service_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_package] ([id])
GO
ALTER TABLE [dbo].[maintenance_ticket] CHECK CONSTRAINT [FK_maintenance_ticket_service_package]
GO
ALTER TABLE [dbo].[maintenance_ticket]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_ticket_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[maintenance_ticket] CHECK CONSTRAINT [FK_maintenance_ticket_status]
GO
ALTER TABLE [dbo].[maintenance_ticket]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_ticket_vehicle_checkin] FOREIGN KEY([vehicle_checkin_id])
REFERENCES [dbo].[vehicle_checkin] ([id])
GO
ALTER TABLE [dbo].[maintenance_ticket] CHECK CONSTRAINT [FK_maintenance_ticket_vehicle_checkin]
GO
ALTER TABLE [dbo].[maintenance_ticket]  WITH CHECK ADD  CONSTRAINT [FK_ticket_category] FOREIGN KEY([service_category_id])
REFERENCES [dbo].[service_category] ([id])
GO
ALTER TABLE [dbo].[maintenance_ticket] CHECK CONSTRAINT [FK_ticket_category]
GO
ALTER TABLE [dbo].[maintenance_ticket_technician]  WITH CHECK ADD FOREIGN KEY([maintenance_ticket_id])
REFERENCES [dbo].[maintenance_ticket] ([id])
GO
ALTER TABLE [dbo].[maintenance_ticket_technician]  WITH CHECK ADD FOREIGN KEY([technician_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[schedule_service]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[schedule_service]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[car] ([id])
GO
ALTER TABLE [dbo].[schedule_service]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[schedule_service]  WITH CHECK ADD  CONSTRAINT [FK_schedule_guest] FOREIGN KEY([guest_id])
REFERENCES [dbo].[customer_guest] ([id])
GO
ALTER TABLE [dbo].[schedule_service] CHECK CONSTRAINT [FK_schedule_guest]
GO
ALTER TABLE [dbo].[schedule_service]  WITH CHECK ADD  CONSTRAINT [FK_schedule_service_category] FOREIGN KEY([service_category_id])
REFERENCES [dbo].[service_category] ([id])
GO
ALTER TABLE [dbo].[schedule_service] CHECK CONSTRAINT [FK_schedule_service_category]
GO
ALTER TABLE [dbo].[schedule_service]  WITH CHECK ADD  CONSTRAINT [FK_schedule_service_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[schedule_service] CHECK CONSTRAINT [FK_schedule_service_status]
GO
ALTER TABLE [dbo].[schedule_service_note]  WITH CHECK ADD  CONSTRAINT [FK_note_schedule] FOREIGN KEY([schedule_service_id])
REFERENCES [dbo].[schedule_service] ([id])
GO
ALTER TABLE [dbo].[schedule_service_note] CHECK CONSTRAINT [FK_note_schedule]
GO
ALTER TABLE [dbo].[schedule_service_note]  WITH CHECK ADD  CONSTRAINT [FK_note_user] FOREIGN KEY([consultant_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[schedule_service_note] CHECK CONSTRAINT [FK_note_user]
GO
ALTER TABLE [dbo].[service_category]  WITH CHECK ADD  CONSTRAINT [FK_service_category_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[service_category] CHECK CONSTRAINT [FK_service_category_status]
GO
ALTER TABLE [dbo].[service_package]  WITH CHECK ADD  CONSTRAINT [FK_service_package_branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[service_package] CHECK CONSTRAINT [FK_service_package_branch]
GO
ALTER TABLE [dbo].[service_package]  WITH CHECK ADD  CONSTRAINT [FK_service_package_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[service_package] CHECK CONSTRAINT [FK_service_package_status]
GO
ALTER TABLE [dbo].[service_package_category]  WITH CHECK ADD  CONSTRAINT [FK_service_package_category_category] FOREIGN KEY([service_category_id])
REFERENCES [dbo].[service_category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[service_package_category] CHECK CONSTRAINT [FK_service_package_category_category]
GO
ALTER TABLE [dbo].[service_package_category]  WITH CHECK ADD  CONSTRAINT [FK_service_package_category_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_package] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[service_package_category] CHECK CONSTRAINT [FK_service_package_category_package]
GO
ALTER TABLE [dbo].[service_task]  WITH CHECK ADD FOREIGN KEY([maintenance_ticket_id])
REFERENCES [dbo].[maintenance_ticket] ([id])
GO
ALTER TABLE [dbo].[service_task]  WITH CHECK ADD  CONSTRAINT [FK_service_task_service_category] FOREIGN KEY([service_category_id])
REFERENCES [dbo].[service_category] ([id])
GO
ALTER TABLE [dbo].[service_task] CHECK CONSTRAINT [FK_service_task_service_category]
GO
ALTER TABLE [dbo].[service_task]  WITH CHECK ADD  CONSTRAINT [FK_service_task_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[service_task] CHECK CONSTRAINT [FK_service_task_status]
GO
ALTER TABLE [dbo].[service_task]  WITH CHECK ADD  CONSTRAINT [FK_service_task_technician] FOREIGN KEY([technician_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[service_task] CHECK CONSTRAINT [FK_service_task_technician]
GO
ALTER TABLE [dbo].[service_task_technician]  WITH CHECK ADD  CONSTRAINT [FK_service_task_technician_service_task] FOREIGN KEY([service_task_id])
REFERENCES [dbo].[service_task] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[service_task_technician] CHECK CONSTRAINT [FK_service_task_technician_service_task]
GO
ALTER TABLE [dbo].[service_task_technician]  WITH CHECK ADD  CONSTRAINT [FK_service_task_technician_technician] FOREIGN KEY([technician_id])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[service_task_technician] CHECK CONSTRAINT [FK_service_task_technician_technician]
GO
ALTER TABLE [dbo].[stock_in]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_approved_by] FOREIGN KEY([approved_by])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[stock_in] CHECK CONSTRAINT [FK_stock_in_approved_by]
GO
ALTER TABLE [dbo].[stock_in]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[stock_in] CHECK CONSTRAINT [FK_stock_in_created_by]
GO
ALTER TABLE [dbo].[stock_in]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_last_modified_by] FOREIGN KEY([last_modified_by])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[stock_in] CHECK CONSTRAINT [FK_stock_in_last_modified_by]
GO
ALTER TABLE [dbo].[stock_in]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_request] FOREIGN KEY([stock_in_request_id])
REFERENCES [dbo].[stock_in_request] ([id])
GO
ALTER TABLE [dbo].[stock_in] CHECK CONSTRAINT [FK_stock_in_request]
GO
ALTER TABLE [dbo].[stock_in]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[stock_in] CHECK CONSTRAINT [FK_stock_in_status]
GO
ALTER TABLE [dbo].[stock_in_detail]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_detail_component] FOREIGN KEY([component_id])
REFERENCES [dbo].[component] ([id])
GO
ALTER TABLE [dbo].[stock_in_detail] CHECK CONSTRAINT [FK_stock_in_detail_component]
GO
ALTER TABLE [dbo].[stock_in_detail]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_detail_stock_in] FOREIGN KEY([stock_in_id])
REFERENCES [dbo].[stock_in] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_in_detail] CHECK CONSTRAINT [FK_stock_in_detail_stock_in]
GO
ALTER TABLE [dbo].[stock_in_request]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_request_branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[stock_in_request] CHECK CONSTRAINT [FK_stock_in_request_branch]
GO
ALTER TABLE [dbo].[stock_in_request]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_request_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[stock_in_request] CHECK CONSTRAINT [FK_stock_in_request_created_by]
GO
ALTER TABLE [dbo].[stock_in_request]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_request_last_modified_by] FOREIGN KEY([last_modified_by])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[stock_in_request] CHECK CONSTRAINT [FK_stock_in_request_last_modified_by]
GO
ALTER TABLE [dbo].[stock_in_request]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_request_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[stock_in_request] CHECK CONSTRAINT [FK_stock_in_request_status]
GO
ALTER TABLE [dbo].[stock_in_request_detail]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_request_detail_component] FOREIGN KEY([component_id])
REFERENCES [dbo].[component] ([id])
GO
ALTER TABLE [dbo].[stock_in_request_detail] CHECK CONSTRAINT [FK_stock_in_request_detail_component]
GO
ALTER TABLE [dbo].[stock_in_request_detail]  WITH CHECK ADD  CONSTRAINT [FK_stock_in_request_detail_request] FOREIGN KEY([stock_in_request_id])
REFERENCES [dbo].[stock_in_request] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_in_request_detail] CHECK CONSTRAINT [FK_stock_in_request_detail_request]
GO
ALTER TABLE [dbo].[ticket_component]  WITH CHECK ADD FOREIGN KEY([component_id])
REFERENCES [dbo].[component] ([id])
GO
ALTER TABLE [dbo].[ticket_component]  WITH CHECK ADD FOREIGN KEY([maintenance_ticket_id])
REFERENCES [dbo].[maintenance_ticket] ([id])
GO
ALTER TABLE [dbo].[ticket_component]  WITH CHECK ADD  CONSTRAINT [FK_ticket_component_branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[ticket_component] CHECK CONSTRAINT [FK_ticket_component_branch]
GO
ALTER TABLE [dbo].[ticket_component]  WITH CHECK ADD  CONSTRAINT [FK_ticket_component_service_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_package] ([id])
GO
ALTER TABLE [dbo].[ticket_component] CHECK CONSTRAINT [FK_ticket_component_service_package]
GO
ALTER TABLE [dbo].[total_receipt]  WITH CHECK ADD FOREIGN KEY([accountant_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[total_receipt]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[total_receipt]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[car] ([id])
GO
ALTER TABLE [dbo].[total_receipt]  WITH CHECK ADD FOREIGN KEY([maintenance_ticket_id])
REFERENCES [dbo].[maintenance_ticket] ([id])
GO
ALTER TABLE [dbo].[total_receipt]  WITH CHECK ADD  CONSTRAINT [FK_total_receipt_service_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_package] ([id])
GO
ALTER TABLE [dbo].[total_receipt] CHECK CONSTRAINT [FK_total_receipt_service_package]
GO
ALTER TABLE [dbo].[total_receipt]  WITH CHECK ADD  CONSTRAINT [FK_total_receipt_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[total_receipt] CHECK CONSTRAINT [FK_total_receipt_status]
GO
ALTER TABLE [dbo].[type_component]  WITH CHECK ADD  CONSTRAINT [FK_type_component_branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[type_component] CHECK CONSTRAINT [FK_type_component_branch]
GO
ALTER TABLE [dbo].[type_component]  WITH CHECK ADD  CONSTRAINT [FK_type_component_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[type_component] CHECK CONSTRAINT [FK_type_component_status]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_status]
GO
ALTER TABLE [dbo].[vehicle_checkin]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[vehicle_checkin]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[car] ([id])
GO
ALTER TABLE [dbo].[vehicle_checkin]  WITH CHECK ADD  CONSTRAINT [FK_vehicle_checkin_branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[vehicle_checkin] CHECK CONSTRAINT [FK_vehicle_checkin_branch]
GO
ALTER TABLE [dbo].[vehicle_checkin]  WITH CHECK ADD  CONSTRAINT [FK_vehicle_checkin_status] FOREIGN KEY([status_code])
REFERENCES [dbo].[status_lookup] ([code])
GO
ALTER TABLE [dbo].[vehicle_checkin] CHECK CONSTRAINT [FK_vehicle_checkin_status]
GO
ALTER TABLE [dbo].[vehicle_checkin_image]  WITH CHECK ADD FOREIGN KEY([vehicle_checkin_id])
REFERENCES [dbo].[vehicle_checkin] ([id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[schedule_service]  WITH CHECK ADD  CONSTRAINT [CK_schedule_user_or_guest] CHECK  (([user_id] IS NOT NULL AND [guest_id] IS NULL OR [user_id] IS NULL AND [guest_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[schedule_service] CHECK CONSTRAINT [CK_schedule_user_or_guest]
GO
GO
